@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap');

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Set up a smooth, responsive layout */
html {
    scroll-behavior: smooth; /* Smooth scrolling */
}

body {
    font-family: Manrope, sans-serif; /* Default font */
    color: #333; /* Default text color */
    line-height: 1.6; /* Better readability */
    min-height: 100vh; /* Ensure full height */
}

.bg {
    position: fixed;
    background: radial-gradient(50.21% 80.33% at 50% 50%, #011B3C 0%, #090E16 100%);
    width: 100%;
    height: 100%;
    z-index: -2;
}

nav {
    top: 40px;
    position: sticky;
    margin: auto;
    display: flex;
    width: 1080px;
    padding: 8px;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    border: 1px solid rgba(181, 209, 247, 0.15);
    background: rgba(5, 17, 32, 0.24);
    backdrop-filter: blur(12px);
    justify-content: space-between;
}

.logo {
    padding: 8px 16px;
    color: #F4F4F4;
    text-align: center;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.menu-item{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #cccccc;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.2s ease;
}

.menu-item:hover {
    color: #FFC300;
}

.primary-btn {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #FFC300;
    color: #090E16;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    transition: all 0.2s ease;
}

.primary-btn:hover {
    background-color: #e6ac00;
    transform: translateY(-2px);
}